@{
    ViewData["Title"] = "Index";
}
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>blog</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-blog mb-60">
                    <div class="blog-img">
                        <a href="#"><img src="img/blog/blog1.jpg" alt="blog"></a>
                        <div class="blog-hover">
                            <i class="fa fa-link"></i>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-top">
                            <p>By Alex  /  June 20, 2017  /  <i class="fa fa-comments-o"></i> 4</p>
                        </div>
                        <div class="blog-bottom">
                            <h2><a href="blog-details.html">I must explain to you how all this a mistaken idea </a></h2>
                            <a href="blog-details.html">read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-blog mb-60">
                    <div class="blog-img">
                        <a href="#"><img src="img/blog/blog2.jpg" alt="blog"></a>
                        <div class="blog-hover">
                            <i class="fa fa-link"></i>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-top">
                            <p>By Alex  /  June 20, 2017  /  <i class="fa fa-comments-o"></i> 4</p>
                        </div>
                        <div class="blog-bottom">
                            <h2><a href="blog-details.html">I must explain to you how all this a mistaken idea </a></h2>
                            <a href="blog-details.html">read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-blog mb-60">
                    <div class="blog-img">
                        <a href="#"><img src="img/blog/blog3.jpg" alt="blog"></a>
                        <div class="blog-hover">
                            <i class="fa fa-link"></i>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-top">
                            <p>By Alex  /  June 20, 2017  /  <i class="fa fa-comments-o"></i> 4</p>
                        </div>
                        <div class="blog-bottom">
                            <h2><a href="blog-details.html">I must explain to you how all this a mistaken idea </a></h2>
                            <a href="blog-details.html">read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-blog mb-60">
                    <div class="blog-img">
                        <a href="#"><img src="img/blog/blog4.jpg" alt="blog"></a>
                        <div class="blog-hover">
                            <i class="fa fa-link"></i>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-top">
                            <p>By Alex  /  June 20, 2017  /  <i class="fa fa-comments-o"></i> 4</p>
                        </div>
                        <div class="blog-bottom">
                            <h2><a href="blog-details.html">I must explain to you how all this a mistaken idea </a></h2>
                            <a href="blog-details.html">read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-blog mb-60">
                    <div class="blog-img">
                        <a href="#"><img src="img/blog/blog5.jpg" alt="blog"></a>
                        <div class="blog-hover">
                            <i class="fa fa-link"></i>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-top">
                            <p>By Alex  /  June 20, 2017  /  <i class="fa fa-comments-o"></i> 4</p>
                        </div>
                        <div class="blog-bottom">
                            <h2><a href="blog-details.html">I must explain to you how all this a mistaken idea </a></h2>
                            <a href="blog-details.html">read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-blog mb-60">
                    <div class="blog-img">
                        <a href="#"><img src="img/blog/blog6.jpg" alt="blog"></a>
                        <div class="blog-hover">
                            <i class="fa fa-link"></i>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-top">
                            <p>By Alex  /  June 20, 2017  /  <i class="fa fa-comments-o"></i> 4</p>
                        </div>
                        <div class="blog-bottom">
                            <h2><a href="blog-details.html">I must explain to you how all this a mistaken idea </a></h2>
                            <a href="blog-details.html">read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 hidden-xs">
                <div class="single-blog">
                    <div class="blog-img">
                        <a href="#"><img src="img/blog/blog7.jpg" alt="blog"></a>
                        <div class="blog-hover">
                            <i class="fa fa-link"></i>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-top">
                            <p>By Alex  /  June 20, 2017  /  <i class="fa fa-comments-o"></i> 4</p>
                        </div>
                        <div class="blog-bottom">
                            <h2><a href="blog-details.html">I must explain to you how all this a mistaken idea </a></h2>
                            <a href="blog-details.html">read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 hidden-xs">
                <div class="single-blog">
                    <div class="blog-img">
                        <a href="#"><img src="img/blog/blog8.jpg" alt="blog"></a>
                        <div class="blog-hover">
                            <i class="fa fa-link"></i>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-top">
                            <p>By Alex  /  June 20, 2017  /  <i class="fa fa-comments-o"></i> 4</p>
                        </div>
                        <div class="blog-bottom">
                            <h2><a href="blog-details.html">I must explain to you how all this a mistaken idea </a></h2>
                            <a href="blog-details.html">read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden-sm col-xs-12">
                <div class="single-blog">
                    <div class="blog-img">
                        <a href="#"><img src="img/blog/blog9.jpg" alt="blog"></a>
                        <div class="blog-hover">
                            <i class="fa fa-link"></i>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-top">
                            <p>By Alex  /  June 20, 2017  /  <i class="fa fa-comments-o"></i> 4</p>
                        </div>
                        <div class="blog-bottom">
                            <h2><a href="blog-details.html">I must explain to you how all this a mistaken idea </a></h2>
                            <a href="blog-details.html">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="pagination">
                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_Subscribe",new SubscribeVM())
