@{
    ViewData["Title"] = "Default";
}
<header class="top">
    <div class="header-area header-sticky fixed">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="logo">
                        <a href="index.html"><img src="~/img/logo/logo.png" alt="eduhome" /></a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="content-wrapper one">
                        <!-- Main Menu Start -->
                        <div class="main-menu one text-right">
                            <nav>
                                <ul>
                                    <li>
                                        <a asp-controller="home">Home</a>
                                        <ul>
                                            <li><a href="index.html">Home One</a></li>
                                            <li><a href="index-2.html">Home Two</a></li>
                                            <li><a href="index-3.html">Home Three</a></li>
                                            <li><a href="index-4.html">Home Four</a></li>
                                            <li><a href="index-5.html">Home Five</a></li>
                                        </ul>
                                    </li>
                                    <li><a asp-controller="about">About</a></li>
                                    <li>
                                        <a href="course.html">courses</a>
                                        <ul>
                                            <li><a href="course.html">courses</a></li>
                                            <li><a href="course-details.html">courses details</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a asp-controller="event">event</a>
                                        <ul>
                                            <li><a href="event.html">event</a></li>
                                            <li><a href="event-details.html">event details</a></li>
                                        </ul>
                                    </li>
                                    <li class="hidden-sm">
                                        <a asp-controller="teacher">teacher</a>
                                        <ul>
                                            <li><a href="teacher.html">teacher</a></li>
                                            <li><a href="teacher-details.html">teacher details</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a asp-controller="blog">blog</a>
                                        <ul>
                                            <li><a href="blog.html">blog</a></li>
                                            <li><a asp-controller="blog" asp-action="detail" asp-route-id="">blog details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="#">Buy Now</a>
                                </ul>
                            </nav>
                        </div>
                        <div class="mobile-menu hidden-lg hidden-md one"></div>
                        <!-- Main Menu End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>