@{
    ViewData["Title"] = "Default";
}
<header class="top">
    <div class="header-area header-sticky fixed">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="logo">
                        <a href="index.html"><img src="~/img/logo/logo.png" alt="eduhome" /></a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="content-wrapper one">
                        <!-- Main Menu Start -->
                        <div class="main-menu one text-right">
                            <nav>
                                <ul>
                                    <li>
                                        <a asp-controller="home" asp-action="index">Home</a>
                                   
                                    </li>
                                    <li><a asp-controller="about" asp-action="index">About</a></li>
                                    <li>
                                        <a asp-controller="course" asp-action="index">courses</a>
                                        <ul>
                                            <li><a asp-controller="course" asp-action="index">courses</a></li>
                                            <li><a href="course-details.html">courses details</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a asp-controller="event" asp-action="index">event</a>
                                        <ul>
                                            <li><a asp-controller="event" asp-action="index">event</a></li>
                                            <li><a asp-controller="event" asp-action="index" asp-route-id="">event details</a></li>
                                        </ul>
                                    </li>
                                    <li class="hidden-sm">
                                        <a asp-controller="teacher" asp-action="index">teacher</a>
                                        <ul>
                                            <li><a asp-controller="teacher" asp-action="index">teacher</a></li>
                                            <li><a href="teacher-details.html">teacher details</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a asp-controller="blog" asp-action="index">blog</a>
                                        <ul>
                                            <li><a asp-controller="blog" asp-action="index">blog</a></li>
                                            <li><a asp-controller="blog" asp-action="detail" asp-route-id="">blog details</a></li>
                                        </ul>
                                    </li>
                                   
                                </ul>
                            </nav>
                        </div>
                        <div class="mobile-menu hidden-lg hidden-md one"></div>
                        <!-- Main Menu End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>