@{
    ViewData["Title"] = "Default";
    string controllerName = ViewContext.RouteData.Values["controller"] as string;
}
@if (!(controllerName == "home"))
{
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="header-top-left">
                        <p>HAVE ANY QUESTION ?  +880 5698  598  6587</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="header-top-right text-right">
                        <ul>
                            @if (User.Identity.IsAuthenticated)
                            {
                                @if (User.Identity.Name != null)
                                {
                                    <li> <a class="nav-link" href="#">@User.Identity.Name</a></li>
                                }

                                 <li> <a asp-controller="account" asp-action="logout">Logout</a></li>
                            }
                            else
                            {
                                <li><a asp-controller="account" asp-action="login">login</a></li>
                                <li><a asp-controller="account" asp-action="registers">signup</a></li>
                            }
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<header class="top">
    <div class="header-area header-sticky fixed">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="logo">
                        <a href="index.html"><img src="~/img/logo/logo.png" alt="eduhome" /></a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="content-wrapper one">
                        <!-- Main Menu Start -->
                        <div class="main-menu one text-right">
                            <nav>
                                <ul>
                                    <li>
                                        <a asp-controller="home" asp-action="index">Home</a>
                                   
                                    </li>
                                    <li><a asp-controller="about" asp-action="index">About</a></li>
                                    <li>
                                        <a asp-controller="course" asp-action="index">courses</a>
                                        <ul>
                                            <li><a asp-controller="course" asp-action="index">courses</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a asp-controller="event" asp-action="index">event</a>
                                        <ul>
                                            <li><a asp-controller="event" asp-action="index">event</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a asp-controller="Payment" asp-action="index">Payment</a>
                                        <ul>
                                            <li><a asp-controller="Payment" asp-action="index">Payment</a></li>
                                        </ul>
                                    </li>
                                    <li class="hidden-sm">
                                        <a asp-controller="teacher" asp-action="index">teacher</a>
                                        <ul>
                                            <li><a asp-controller="teacher" asp-action="index">teacher</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a asp-controller="blog" asp-action="index">blog</a>
                                        <ul>
                                            <li><a asp-controller="blog" asp-action="index">blog</a></li>
                                        </ul>
                                    </li>
                                    @if (controllerName.ToLower() == "home")
                                    {
                                         @if (!User.Identity.IsAuthenticated)
                                    {
                                        <li>
                                            <a asp-controller="account" asp-action="registers">Sign Up</a>

                                        </li>
                                        <li>
                                            <a asp-controller="account" asp-action="login">Login</a>

                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a asp-controller="account" asp-action="logout">Logout</a>

                                        </li>
                                        <li>
                                            <a style="cursor:default;" disable>@User.Identity.Name</a>

                                        </li>
                                    }
                                    }
                                   
                                    @if (User.IsInRole("Admin"))
                                    {
                                    <li>
                                        <a asp-area="adminarea" asp-controller="dashboard" asp-action="index">AdminPanel</a>
                                        
                                    </li>
                                    }
                                   
                                </ul>
                            </nav>
                        </div>
                        <div class="mobile-menu hidden-lg hidden-md one"></div>
                        <!-- Main Menu End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>