@model List<IdentityRole>
@{
    ViewData["Title"] = "Index";
}
<a asp-controller="role" asp-action="Create" class="btn btn-outline-success"><i class="fa-solid fa-plus"></i></a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>

                    <a asp-controller="role" asp-action="Delete" asp-route-id="@role.Id" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></a>
                    <a asp-controller="role" asp-action="Update" asp-route-id="@role.Id" class="btn btn-outline-warning"><i class="fa-regular fa-pen-to-square"></i></a>
                    <a asp-controller="role" asp-action="detail" asp-route-id="@role.Id" class="btn btn-outline-info"><i class="fa-solid fa-info"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
