@model ForgetPasswordVM
@{
    ViewData["Title"] = "ForgetPassword";
}
<div class="container">
    <form style="margin-top:400px;" method="post">
        <label asp-for="appUser.Email">Enter your email</label>
        <input class="form-control" asp-for="appUser.Email" />
        <span class="text-danger">
            @Html.ValidationMessage("Error")
        </span>
        <br />
        <br />
        <button type="submit" class="btn btn-outline-dark">Send</button>
    </form>
</div>
