@model ForgetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
}
<div class="container">
    <form style="margin-top:200px;" method="post">
        <div asp-validation-summary="All"></div>
        <div class="mt-3">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="mt-3">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <br />
        <br />
        <button type="submit" class="btn btn-outline-dark">Reset Password</button>
    </form>
</div>