@model EventCreateVM
@{
    ViewData["Title"] = "Create";
}
<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" placeholder="Title">
        <span asp-validation-for="Title" style="color:red;"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Desc" class="form-label"></label>
        <input asp-for="Desc" class="form-control" placeholder="Description">
        <span asp-validation-for="Desc" style="color:red;"></span>
    </div>
    <div class="mb-3">
        <label asp-for="OpenTime" class="form-label"></label>
        <input asp-for="OpenTime" class="form-control" placeholder="Opening Time">
        <span asp-validation-for="OpenTime" style="color:red;"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CloseTime" class="form-label"></label>
        <input asp-for="CloseTime" class="form-control" placeholder="Closing Time">
        <span asp-validation-for="CloseTime" style="color:red;"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Venue" class="form-label"></label>
        <input asp-for="Venue" class="form-control" placeholder="Venue">
        <span asp-validation-for="Venue" style="color:red;"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Date" class="form-label"></label>
        <input asp-for="Date" class="form-control" placeholder="Date">
        <span asp-validation-for="Date" style="color:red;"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Image" class="form-label"></label>
        <input asp-for="Image" class="form-control">
        <span asp-validation-for="Image" style="color:red;"></span>
    </div>
    <div class="btn-group" data-toggle="buttons">
    @foreach (var category in ViewBag.Categories)
    {
        <label class="btn btn-primary">
                <input type="radio" name="id" value="@category.Id"  > @category.Name
        </label>

        }

        
    </div>
    <br />
    @foreach (var speaker in ViewBag.Speakers)
    {
        <label class="btn btn-primary">
            <input type="checkbox" name="speakerIds" value="@speaker.Id"> @speaker.Name
        </label>

    }
    <button type="submit" class="btn btn-success">Submit</button>
</form>
<script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    </script>
