@model CreateTagVM
@{
    ViewData["Title"] = "Create";
}
<form method="post" >
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" placeholder="Title">
        <span asp-validation-for="Name" style="color:red;"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-success">Submit</button>
    <a asp-controller="tag" asp-action="index">Go Back</a>
</form>
<script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    </script>
